*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(35, 40, 48);
}   
nav{
    background-color: rgba(129, 134, 146, 0.195);
    margin: none;
   padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
nav h1{
    margin-left: none ;
    text-align: left;
    color: white;
    font-size: 39px;
}
nav ul{
    display: flex;
    justify-content: right ;
    
}
nav ul li{
    padding: 33px;
    list-style: none;
   color:azure;
   font-size:19px;
   font-family:system-ui;    
}
#image {
    display:flex;
    justify-content: center;
    align-items: center;
   height: 192px;
  
   
}
#image img{
    max-width: 100px;
   
}
#para {
    display:flex;
    justify-content: center;
    align-items: center;
   height: 2px;
}
#para h1{
    color:rgb(255, 117, 117);
    font-family: monospace;
    font-size: 34px;
 margin-top:4px;
 opacity:80%;
}
#menu ul{
    display:flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    padding: 5px;
 
 }
 
hr {
    margin-top: 30px;  
    opacity: 10%;
    
}

 #menu ul li{
    margin: 20px 10px;
    padding: 0px 25px;
    list-style: none;
    color:gray;
    font-size:19px;
    font-family:monospace;    
    font-style:italic;
    border:1px solid ; 
 
 }
 #menu ul li:hover{
    margin: 20px 10px;
    padding: 0px 25px;
    list-style: none;
    color: rgb(255, 117, 117);
    font-size:19.3px;
    font-family:monospace;    
    font-style:italic;
    border:1px solid ; 
 
 }
 hr#end{
    height: 120px;
 }